$postBorder: 2px 2px 2px 2px lightgrey;

.blogPosts{
    box-shadow: $postBorder;
    width: 100%;
    padding: 0.65rem;
    margin-bottom: 10px;
    background-color: white;
    .readMore{
        color: blue;
    }
}
span{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    .readMore{
        margin-right: auto;
    }
    .tags{
        text-decoration: none;
        label{
            background: rgb(46, 158, 196);
            color: white;
            border-radius: 8px;
            box-shadow: 1px 1px 1px 1px grey;
            padding: 1px;
            margin: 1px;
        }
    }
}
.tags label:hover{
    cursor: pointer;
    color: lightgrey;
}
.blogPosts:hover{
    cursor: pointer;
    transform: translateX(-20px);
    transition: 0.5s;
}
.blogLink{
    all: unset;
    text-decoration: none;
    width: 100%;
}
.perPage{
    margin-bottom: 10px;
}
.blogContainer{
    width: 70%;
}
.tabContainer{
    width: 20%;
    margin-left: auto;
}
.containerOfContainers{
    display: flex;
    flex-wrap: wrap;
}
.pageTabs{
    background: white;
    border: 1px solid white;
}
.pageTabs:hover, .pageTabs:active, .pageTabs:focus{
    outline: none;
    border-bottom: 2px solid rgb(46, 158, 196);
    cursor: pointer;
}
@media (max-width: 960px){
    .blogContainer{
        width: 100%;
        margin-bottom: 30px;
    }
    .tabContainer{
        width: 100%;
    }
}