$postBorder: 2px 2px 2px 2px lightgrey;
.blogPost{
    box-shadow: $postBorder;
    padding: 0.65rem;
    margin-bottom: 10px;
    background-color: white;
    .readMore{
        color: blue;
    }
}
.blogPost:hover{
        cursor: pointer;
        transform: translateX(-20px);
        transition: 0.5s;  
}
.blogLink{
    all: unset;
    text-decoration: none;
}
.flexContainer{
    display: flex;
    flex-wrap: wrap
}
.descContainer{
    width: 50%;
    margin: 0px 30px 30px 0px;
    border-right: 2px solid #2e2c2c;
    padding-right: 30px;
}
.latestBlogContainer{
    width: 40%;
    padding-left: 30px;
}
@media (max-width: 960px) {
    .descContainer{
        width: 100%;
        border-bottom: 2px solid #2e2c2c;
        border-right: 0;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .latestBlogContainer{
        width: 100%;
        padding-top: 30px;
        padding-left: 0;
    }
}
html, body{
    height: 100%;
}
.pageContentContainer{
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.0875rem;
}