footer{
  bottom: 0;
  height: 4rem;
  width: 100%;
  background: #2e2c2c;
  border-top: 2px solid black;
  margin-top: 10rem;
  }
  html{
    height: 100%;
  }
  body{
    position: relative;
    min-height: 100%;
    margin-bottom: 4rem;
    padding: 0;
  }
  .content{
    margin: 0 auto;
    height: 100%;
    max-width: 960px;
    padding: 0px 1.0875rem;
    padding-top: 0;
    animation: 1s ease-out 0s 1 fadeIn;
  }
  main{
    min-height: 100%;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }