.navBar{
    background: rebeccapurple;
    margin-bottom: 1.45rem;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.container{
    display: flex;
    div{
        flex: 1;
    }
}
.companyName{
    margin: 0;
    max-width: 960;
    padding: 1.45rem 1.0875rem;
    display: flex;
    justify-content: flex-start;
}
.navLinks{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    :hover{
        color: lightgrey;
    }
}

@media all and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
    }
  }