.navBar{
    background: #2e2c2c;
    border-bottom: 2px solid black;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.container{
    margin: 10px 0px;
    display: flex;
    list-style: none;
    padding: 0;
    li{
        :hover{
            color: lightgrey;
        }
    }
}
#twitter{
    color: rgb(56, 191, 236);
}
.companyName{
    margin: 0;
    display: flex;
    margin-right: auto;
    font-size: 1.5rem;
}
.navLinks{
    color: white;
    text-decoration: none;
    padding: 6px 0px;
    margin: 0px 10px;
}
#active{
    border-bottom: 2px solid white;
}

@media all and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
    }
  }