.navBar{
    background: #2e2c2c;
    border-bottom: 2px solid black;
    overflow: hidden;
    top: 0;
    width: 100%;
}
.container{
    margin: 10px 0px;
    display: flex;
    list-style: none;
    padding: 0;
    li{
        display: inline;
        :hover{
            color: lightgrey;
        }
    }
}
#twitter{
    color: rgb(56, 191, 236);
}
.companyName{
    margin: 0;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.navLinks{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 6px 0px;
    margin: 0px 10px;
}
.options-toggle, .small-screen-nav{
    display: none;
    margin: 0;
    ul{
        li{
            list-style: none;
        }
    }
}
.options-toggle:focus{
    outline: none;
}
.small-screen-nav-on{
    display: block;
    background: #2e2c2c;
    animation: 0.5s ease-out 0s 1 slideInFromSide;
    li{
        list-style: none;
        .navLinks{
            display: block;
        }
        :hover{
            color: lightgrey;
        }
    }
    padding-top: 4px;
}
@media all and (min-width: 601px){
    .small-screen-nav-on{
        display: none;
    }
}
@media all and (max-width: 600px) {
    .options-toggle{
        display: block;
        background-color: #2e2c2c;
        color: white;
        font-size: 1.5rem;
        border: none;
        padding: 0px 10px 5px 10px;
        :hover{
            cursor: pointer;
            color: lightgrey;
        }
    }
    .large-screen-nav{
        display: none;
    }
  }
  @keyframes slideInFromSide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }