.tabContain {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: white;
  }
.tabContain button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabContain button:hover {
    background-color: rgb(226, 232, 250);
}
.tabContain button.active {
    background-color: white;
    border-bottom: 2px solid blue;
}
.tabContent {
    display: none;
    padding: 3px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabTags{
    display: flex;
    label{
        cursor: pointer;
    }
    text-decoration: none;
}
#btnSpan{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
}
.active{
    display: block;
}
.annualContainer{
    display: none;
}
.frequency{
    padding: 1px;
    margin-left: 10px;
}
.tabNames, #tabNames{
    background: rgb(46, 158, 196);
    color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px white;
}
#tabNames:hover{
    color: lightgrey;
}
.years, .months{
    background: none;
    border: none;
    border-bottom: 2px solid lightgrey;
}
.years:hover, .years:active, .years:focus, .months:hover, .months:active, .months:focus{
    outline: none;
    border-bottom: 2px solid black;
    cursor: pointer;
}